
<div class="message is-success navbar-item">
  <div class="message-body">
    <p class="title">You have been registered for the <br> <%= notification.event.age_range.display_name %> <%= notification.event.title %> &#10004; </p>
  </div>
</div>

