<div class="box">
  <div class="columns">
    <div class="column is-two-fifths">
      <div class="block">
        <p>Competing Category</p>
      </div>

      <div class="block">
        <div class="select">
          <select>
            <option>Male</option>
            <option>Female</option>
          </select>
        </div>
      </div>
    </div>
    <div class="column is-two-fifths">
      <div class="block">
        <p>Age Category</p>
      </div>

      <div class="block">
        <div class="select">
          <select>
            <option>U15</option>
            <option>U17</option>
            <option>Junior</option>
          </select>
        </div>
      </div>
    </div>
    <div class="column">
      <button class="button">+</button>
    </div>
  </div>
</div>