<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
      Create Competition
    </p>
  </div>
</section>

<section class="section">
  <%= form_tag "/wso/competitions/create" do %>
    <div class="columns">
      <div class="column is-three-quarters">
        <div class="field">
          <label class="label is-medium">Competition Name</label>
          <div class="control">
            <input class="input is-medium" id="title" name="title" type="text" value="">
          </div>
        </div>

        <div class="field">
          <label class="label is-medium">Date</label>
          <div class="control">
            <input class="input is-medium" id="competition_date" name="competition_date" type="date" value="">
          </div>
        </div>

        <div class="field ">
          <label class="label is-medium">Location</label>
          <div class="control">
            <input class="input is-medium" id="location" name="location" type="text" value="">
          </div>
        </div>

        <div class="column">
          <div class="control">
            <input type="submit" class="button is-link is-medium" value="Create">
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>